@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: #1f2937;
    color: #fff;
    padding: 1em 13em;
}

 header #logo {
    font-weight: 700;
    font-size: 48px;
    color: #f9faf8;
}

header .links {
    display: flex;
    justify-content: flex-end;
}

a {
    margin: 24px;
    padding: 12px;
    background-color: inherit;
    color: #f9faf8;
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    background-color: #f9faf8;
    color: #1f2937;
    font-weight: 700;
    border-radius: 8px;
}